* {
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}

body {
  background-color: rgb(133, 133, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentThreats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrap {
  display: flex;
}

.title-wrap img {
  height: 50px;
  width: 50px;
}

.title-wrap h1 {
  font-size: 32px;
}

#image2 {
  transform: rotate(180deg);
}

.title {
  margin: 10px;
}

.threatwrap {
  display: flex;
  border-bottom: 2px solid black;
}

.threatwrap h1 {
  padding: 0 4px;
  margin: 0;
  font-size: 24px;
}

.table {
  display: flex;
}

ol {
  border-right: 2px solid black;
  text-align: left;
}

h1 {
  font-size:24px;
  border-bottom: 2px solid black;
}

h3 {
  border-bottom: 5px solid black;
  font-weight: 100;
}

li {
  border-bottom: 1px solid black;
  padding: 5px;
}

ul {
  list-style: none;
  text-align: center;
}

/* d3 */

.grid line {
  stroke: rgb(154, 93, 93);
}

/* Center the contents (image and caption) inside the container */
.image-container {
  display: flex;
  flex-direction: column;  /* Stack the image and caption vertically */
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  width: 100%;             /* Make the container take up full width */
  padding: 10px;           /* Optional: Add some space inside the container */
  text-align: center;      /* Optional: Center the caption text */
  margin: 0 auto;          /* Optional: Center the container itself if it has a width */
}

.image-container p {
  display: flex;
  flex-direction: column;  /* Stack the image and caption vertically */
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  width: 50%;             /* Make the container take up full width */
  padding: 10px;           /* Optional: Add some space inside the container */
  text-align: center;      /* Optional: Center the caption text */
  margin: 0 auto;          /* Optional: Center the container itself if it has a width */
}




